---
import { info } from "@data";

import Layout from "@layouts/Layout.astro";
import Hero from "@components/home/Hero.astro";
import Experience from "@components/home/Experience.astro";
import ProjectsWrapper from "@components/general/ProjectsWrapper.astro";
import MetaHead from "@components/general/MetaHead.astro";

const featureProjects = info.projects.reduce((accumulator, project) => {
  if (accumulator.length < 6 && project.isFeatured) {
    accumulator.push(project);
  }
  return accumulator;
}, []);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <MetaHead
      title={"Portfolio"}
      description={info.about}
      ogImageUrl={"/assets/images/profile.png"}
    />
  </head>

  <body>
    <Layout>
      <Hero name={info.name} about={info.about} />
      <!-- New section for priorities -->
      <p class="w-[15rem] dark:text-light mt-8">{info.last_updated}<br></br></p>
      <h2 class="w-[25rem] dark:text-light mt-8 ">Priorities</h2>
      <div class="w-full">
        <div class="flex flex-col items-stretch content-stretch">
            <div>
                <p class="w-[15rem] dark:text-light mt-16 mx-4">Becoming a Embedded Software Engineer. Working on projects to expand knowledge .</p>
            </div> 
            <div>
                <p class="w-[15rem] dark:text-light mt-16 mx-4">Becoming an Investor. Build my Portfolio and backtesting different strategies. Expand financial knowledge.</p>
            </div>
            <div>
                <p class="w-[15rem] dark:text-light mt-16 mx-4">Becoming an Athlete. 80 push-ups. 20 pull-ups. Running a half marathon.</p>
            </div>
        </div>
      </div>
      <Experience title={"EXPERIENCE"} details={info.experience} />
      <Experience title={"EDUCATION"} details={info.education} />
      <section>
        <h2 class="w-[15rem] dark:text-light mt-16">PROJECTS</h2>
        <ProjectsWrapper projects={featureProjects} />
      </section>
    </Layout>
  </body>
</html>
