---
import { info } from "@data";

import Layout from "@layouts/Layout.astro";
import Hero from "@components/home/Hero.astro";
import Experience from "@components/home/Experience.astro";
import ProjectsWrapper from "@components/general/ProjectsWrapper.astro";
import MetaHead from "@components/general/MetaHead.astro";

const featureProjects = info.projects.reduce((accumulator, project) => {
  if (accumulator.length < 6 && project.isFeatured) {
    accumulator.push(project);
  }
  return accumulator;
}, []);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <MetaHead
      title={"Portfolio"}
      description={info.about}
      ogImageUrl={"/assets/images/profile.png"}
    />
  </head>

  <body>
    <Layout>
      <Hero name={info.name} about={info.about} />
      <!-- New section for priorities -->
      <section>
        <h2 class="w-[15rem] dark:text-light mt-16">Priorities</h2>
        <p class="w-[15rem] dark:text-light mt-16">Becoming a Software Engineer. The main priority is to get an 6 month internship as a Software Engineer. Working on Projects, to expand knowledge in Computer Vision & Maschine Learning<br></br></p>
        
        <p class="w-[15rem] dark:text-light mt-16">Becoming an Invesotr. Build my Portfolio and backtesting different strategies. Expand financial knowledge<br></br></p>
        
        <p class="w-[15rem] dark:text-light mt-16">Becoming an Athlet. 80 push-ups. 20 pull-ups. Running a half marathon<br></br></p>
      </section>
      <Experience title={"EXPERIENCE"} details={info.experience} />
      <Experience title={"EDUCATION"} details={info.education} />
      <section>
        <h2 class="w-[15rem] dark:text-light mt-16">PROJECTS</h2>
        <ProjectsWrapper projects={featureProjects} />
      </section>
    </Layout>
  </body>
</html>
