---
import { info } from "@data";

import Layout from "@layouts/Layout.astro";
import Hero from "@components/home/Hero.astro";
import Experience from "@components/home/Experience.astro";
import ProjectsWrapper from "@components/general/ProjectsWrapper.astro";
import MetaHead from "@components/general/MetaHead.astro";
import LinkButton from "@components/LinkButton.astro";

const featureProjects = info.projects.reduce((accumulator, project) => {
  if (accumulator.length < 6 && project.isFeatured) {
    accumulator.push(project);
  }
  return accumulator;
}, []);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <MetaHead
      title={"Portfolio"}
      description={info.about}
      ogImageUrl={"/assets/images/profile.png"}
    />
  </head>

  <body>
    <Layout>
      <Hero name={info.name} about={info.about} />
      <!-- New section for priorities -->
      <p class="w-[15rem] dark:text-light mt-8">{info.last_updated}<br></br></p>
      <h2 class="w-[25rem] dark:text-light mt-8 ">Priorities</h2>
      <div class="w-full">
        <div class="flex flex-col items-stretch content-stretch">
            <div>
                <p class="w-[15rem] dark:text-light mt-16 mx-4">Becoming an Embedded Software Engineer. Working on projects to expand knowledge .</p>
            </div> 
            <div>
                <p class="w-[15rem] dark:text-light mt-16 mx-4">Becoming an Investor. Build my Portfolio and backtesting different strategies. Expand financial knowledge.</p>
            </div>
            <div>
                <p class="w-[15rem] dark:text-light mt-16 mx-4">Becoming an Athlete. 80 push-ups. 20 pull-ups. Running a half marathon.</p>
            </div>
        </div>
      </div>
      <Experience title={"EXPERIENCE"} details={info.experience} />
      <Experience title={"EDUCATION"} details={info.education} />
      <section id="now">
      <div class="mb-5">
        <h2>What I'm Doing Now</h2>
        <p>
          inspired by <LinkButton href="https://sive.rs/now" target="_blank">
            Derek Sivers
          </LinkButton>
        </p>
      </div>

      <p class="mb-5">
        📚Currently reading: Love And Math by Edward Frenkel
      </p>
      <div class="mb-5">
        <h2 class="mb-2">Priorities</h2>
        <div class="grid grid-rows-1 gap-4 text-justify">
          <p>
            <span class="font-semibold text-skin-accent"
              >Finish mandatory service.<br /></span
            > I want to finish my 6-month mandatory service at the Austrian
            Armed Forces as a trained paramedic and in good health.
          </p>
          <p>
            <span class="font-semibold text-skin-accent"
              >Becoming an Engineer.<br /></span
            > Trying to secure an internship at an engineering company, working
            in the field of robotics, ai and software development. Maybe live in
            a different city for work and gain experience on working in tech and
            social interactions.
          </p>
          <p>
            <span class="font-semibold text-skin-accent"
              >Get more fit and athletic.<br /></span
            > Hit the gym more often and build strength and duration. Try out
            some martial arts and start rowing.
          </p>
        </div>
      </div>
      <p class="italic">Last updated on 10th December, before going to sleep</p>
    </section>
      <section>
        <h2 class="w-[15rem] dark:text-light mt-16">PROJECTS</h2>
        <ProjectsWrapper projects={featureProjects} />
      </section>
    </Layout>
  </body>
</html>
